<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer-content">
    <footer class="footer text-right">
        2018 © <a th:href="@{https://github.com/xieshuang/t-blog}" target="_blank">t-blog</a><div class=""></div>
    </footer>
</div>
<body th:fragment="footer">
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.0/sweetalert2.all.min.js}"></script>
<script th:src="@{/admin/js/jquery.app.js}"></script>
<script th:src="@{/admin/js/base.js}"></script>
</body>
</html>